/* body */
body {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    margin: 0;
    margin-top: 5%;
    background: linear-gradient(to right, black 1px, transparent 1px);
    background-size: 40px;
}

/* header */
header {
    width: 60%;
    margin: 0 auto;
    text-align: center;
}
.header-left-container {
    background-color: #ddddddef;
    border-radius: 0px 0px 5px 5px;
    float: left;
    width: 31%;
    height: 100px;
}
.header-right-container {
    background-color: #ddddddef;
    border-radius: 0px 0px 5px 5px;
    float: right;
    width: 66%;
    height: 100px;
}
.header-text {
    margin: 5% 40% 0% 0%;
    color: white;
}

/* footer */
footer {
    display: flex;
    background-color: #ddddddef;
    border-radius: 5px 5px 0px 0px;
    width: 60%;
    height: 100px;
    margin: 0 auto;
    justify-content: left;
    align-items: center;
    color: white;
}
.footer-text{
    margin-left: 5%;
}

/* Container */
.container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0 auto;
    width: 60%;
}
.slider {
    align-self: center;
    position: fixed;
    left: 0;
    width: 60%;
}
.bottom-part {
    display: flex;
    flex-direction: row;
}

/* Image */
.img-top {
    display: flex ;
    flex-direction: row ;
    padding: 5px ;
    overflow: hidden ;
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
}
.img-bot {
    display: flex ;
    flex-direction: row ;
    padding: 5px ;
    overflow-x: hidden ;
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
}
.image{
    height: 200px;
    width: auto;
    opacity: 0.9;
    margin: 0 4px;
    border-radius: 5px;
}


/* Text */
.text {
    width: 29%;
    margin-top: 5%;
    padding-bottom: 15%;
}
h1 {
    color: #134880;
}


/* Buttons */
.button-container {
    display: flex;
    flex-direction: column;
    padding-left: 100px;
}
.prev-btn, .next-btn{
    display: inline-block;
    background-color: #fff;
    color: #134880;
    border: 1px solid #134880;
    border-radius: 5px;
    margin: 5px auto;
    width: 60px;
    height: 60px;
}
.prev-btn .img-dow{
    display: none;
}
.prev-btn:hover:enabled .img-up {
    display: none;
}
.prev-btn:hover:enabled, .prev-btn:hover:enabled .img-dow {
    background-color: #134880;
    color: #fff;
    display:inline-block;
}
.next-btn .img-dow{
    display: none;
}
.next-btn:hover:enabled .img-up {
    display: none;
}
.next-btn:hover:enabled, .next-btn:hover:enabled .img-dow {
    background-color: #134880;
    color: #fff;
    display:inline-block;
}
